.codepen-box {
    animation: box-spin 750ms ease-out 150ms;
}

@keyframes box-spin {
    from {
        transform: scaleX(5) scaleY(5);
        transform-origin: 50% 50%;
    }
    to {
        transform: scaleX(1) scaleY(1);
        transform-origin: 50% 50%;
    }
}
