.spinner-root {
    position: absolute;
    right: 17.713em;
    top: 9.969em;
}

.spinner-rotate {
    animation: rotate 500ms linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }
    to {
        transform: rotate(360deg);
        transform-origin: 50% 50%;
    }
}
