.about-root {
    padding: 0 17.713em;
}

.about-content {
    margin: 0 3.157em;
}

.about-header {
    font-size: 1.777em;
    text-align: center;
}

@media screen and (width <= 1024px) {
    .about-root {
        padding: 0 9.69em;
    }
}

@media screen and (width <= 768px) {
    .about-root {
        padding: 0 5.61em;
    }
}

@media screen and (width <= 480px) {
    .about-root {
        padding: 0 1em;
    }
}
