.social-root {
    left: 1em;
    top: 0.5em;
    position: fixed;
    width: max-content;
}

.social-root svg {
    height: 25px;
    width: 25px;
}

.social-motion-block {
    margin: 0.75em 0;
}

.social-motion-block > a:any-link {
    cursor: pointer;
    outline: none;
}

@media screen and (width <= 480px) {
    .social-root {
        left: 0.5em;
        position: absolute;
    }
}
